<div class="card text-black">
    <img
        src="{{data.image}}"
        class="card-img-top displayImage"
        alt="prodImage"
    />
    <div class="card-body">
        <div class="text-center mt-1">
            <h4 class="card-title"> {{data.name}}</h4>
            <h6 class="text-primary mb-1 pb-3">${{data.price}}</h6>
            <!-- <p>{{data.description}}</p> -->
            <!-- <p>Product Id: {{data._id}}</p> -->
            <!-- <p>{{userId}}</p> -->
        </div>

        <div class="d-flex flex-row">
            <button
                type="button"
                class="btn btn-primary flex-fill me-1"
                data-mdb-ripple-color="dark"
            >

                Learn more
            </button>
            <button
                type="button"
                class="btn btn-danger flex-fill ms-1"
                (click)="addToCart(data._id)"
            >
                Add to Cart
            </button>
        </div>
    </div>
</div>
