<div class="col s7">

    <div class="center">
        <button
            class="btn1"
            (click)="newOrder()"
        >
            <div class="material-icons add">
                add
            </div>
            <div>
                New Order
            </div>
        </button>
    </div>

    <h1>Orders:</h1>

    <table class="responsive-table highlight">
        <thead>
            <tr style="background-color:rgb(56, 79, 229)">
                <th>User Id</th>
                <th>Products</th>
                <th>Order Date</th>
                <th>Shipping Address</th>
                <th>Cost</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tr *ngFor="let ord of orderService.orders">
            <td>
                {{"..."+ord.user_id.slice(ord.user_id.length-5, ord.user_id.length)}}
            </td>
            <td>
                <button
                    class="btn2"
                    (click)="viewProducts(ord)"
                >View Products</button>
            </td>
            <td>
                {{ord.date}}
            </td>
            <td>
                {{ord.shipping_address}}
            </td>
            <td>
                Rs. {{ord.cost}}
            </td>
            <td>
                {{ord.status}}
            </td>
            <td>
                <div class="line">
                    <a class="action-btn">
                        <i
                            *ngIf="ord.status=='not delivered'"
                            class="material-icons"
                            [ngStyle]="{'color':'red','border-radius':'20px'}"
                            (click)="editOrderStatus(ord)"
                        >
                            delivery_dining
                        </i>
                        <i
                            *ngIf="ord.status=='delivered'"
                            class="material-icons"
                            [ngStyle]="{'color':'green','border-radius':'20px'}"
                            (click)="editOrderStatus(ord)"
                        >
                            delivery_dining
                        </i>
                    </a>

                    <a class="action-btn">
                        <i
                            class="material-icons"
                            (click)="editOrderAddress(ord)"
                        >
                            edit
                        </i>
                    </a>
                    <a class="action-btn">
                        <i
                            class="material-icons"
                            (click)="deleteOrder(ord)"
                        >
                            delete
                        </i>
                    </a>
                </div>

            </td>
    </table>
</div>
