<mat-nav-list>
  <div class="profile-card">
    <div class="header">
      <h2>Merchant Management System</h2>
    </div>
    <img
      src="https://media.licdn.com/dms/image/C4D0BAQHzYvqvDNR8ew/company-logo_200_200/0/1601300892827?e=1684368000&v=beta&t=oNVRcnJT7g6cJ5XTPIe8ZpQPNOJaNSW4alFGpDHkqCs"
      alt="Walee"
    >
  </div>

  <mat-divider></mat-divider>

  <h2 matSubheader>Pages</h2>

  <a
    mat-list-item
    routerLinkActive="list-item-active"
    [routerLinkActiveOptions]="{exact:true}"
    routerLink="/"
  >
    Dashboard
  </a>
  <a
    mat-list-item
    routerLinkActive="list-item-active"
    [routerLinkActiveOptions]="{exact:true}"
    routerLink="/orders"
  >
    Orders
  </a>
  <a
    mat-list-item
    routerLinkActive="list-item-active"
    [routerLinkActiveOptions]="{exact:true}"
    routerLink="/products"
  >
    Products
  </a>
  <a
    mat-list-item
    routerLinkActive="list-item-active"
    [routerLinkActiveOptions]="{exact:true}"
    routerLink="/categories"
  >
    Categories
  </a>

  <mat-divider></mat-divider>

  <a
    mat-list-item
    routerLinkActive="list-item-active"
    routerLink="/signin"
  >
    <mat-icon>exit_to_app</mat-icon>
    Sign out
  </a>


</mat-nav-list>
