<!-- <div>
    <div>
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
                <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarTogglerDemo03"
                    aria-controls="navbarTogglerDemo03"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a
                    class="navbar-brand mx-2 navID"
                    href=""
                >Products</a>
                <input
                    type="radio"
                    id="All"
                    name="cat"
                    value="all"
                    [(ngModel)]="radioSelect"
                    (change)="radioFunction()"
                />
                <label for="html">All &nbsp;</label><br />

                <input
                    type="radio"
                    id="Physical"
                    name="cat"
                    value="physical"
                    [(ngModel)]="radioSelect"
                    (change)="radioFunction()"
                />
                <label for="html">Physcial</label><br />
                <input
                    type="radio"
                    id="Digital"
                    name="cat"
                    value="digital"
                    [(ngModel)]="radioSelect"
                    (change)="radioFunction()"
                />
                <label for="css">Digital</label><br />

                <div
                    class="collapse navbar-collapse"
                    id="navbarTogglerDemo03"
                >
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
                    <form
                        class="d-flex"
                        role="search"
                    >
                        <button
                            class="btn btn-outline-success mx-2"
                            (click)="navigateToCart()"
                        >
                            View Cart
                        </button>
                        <button
                            class="btn btn-outline-success mx-2"
                            (click)="navigateToOrders()"
                        >
                            View Orders
                        </button>
                    </form>
                </div>
            </div>
        </nav>
    </div>

    <div class="userId">
        <div class="input-group mb-3">
            <input
                type="text"
                [(ngModel)]="userId"
                class="form-control"
                placeholder="Enter user Id"
                aria-label="userId"
                aria-describedby="basic-addon2"
            />
            <span
                class="input-group-text"
                id="basic-addon2"
            ></span>
        </div>
        <button
            type="button"
            (click)="printID()"
            class="btn btn-primary"
        >
            Confirm
        </button>
    </div>


    <section style="background-color: #eee">
        <div class="container py-3">
            <div class="row">
                <ng-container *ngFor="let product of productList$ | async">
                    <div class="col-md-12 col-lg-4 mb-4 mb-lg-0 py-3">
                        <app-product-card
                            [data]="product"
                            [userId]="userId"
                        ></app-product-card>
                    </div>
                </ng-container>
            </div>
        </div>
    </section>
</div> -->

<h2>
    New Order
</h2>

<div class="products-container">
    <mat-form-field>
        <mat-select
            multiple
            placeholder="Product"
            [formControl]="products"
            class="products-select"
        >
            <mat-select-trigger class="products-additional-selection">
                <div
                    class="single-product"
                    *ngFor="let prod of products.value; let i = index"
                >
                    {{i > -1 ? prod : ''}}
                </div>
            </mat-select-trigger>
            <mat-option
                *ngFor="let product of productList$"
                [value]="product.name"
                (click)="addProduct(product)"
            >
                {{ product.name }}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>

<table
    mat-table
    [dataSource]="dataSource"
    class="mat-elevation-z8"
>

    <ng-container matColumnDef="name">
        <th
            mat-header-cell
            *matHeaderCellDef
        >
            Product Name
        </th>
        <td
            mat-cell
            *matCellDef="let row"
        >
            {{row.name}}
        </td>
    </ng-container>

    <ng-container matColumnDef="quantity">
        <th
            mat-header-cell
            *matHeaderCellDef
        >
            Qunatity
        </th>
        <td
            mat-cell
            *matCellDef="let row"
        >
            Quantity
        </td>
    </ng-container>

    <ng-container matColumnDef="cost">
        <th
            mat-header-cell
            *matHeaderCellDef
        >
            Cost
        </th>
        <td
            mat-cell
            *matCellDef="let row"
        >
            Cost
        </td>
    </ng-container>

    <tr
        mat-header-row
        *matHeaderRowDef="displayedColumns"
    ></tr>
    <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns;"
    ></tr>
</table>
