.products-container {
    display: flex;

    .products-additional-selection {
        display: flex;
        flex-direction: row;

        .single-product {
            border: 3px solid #FF275E;
            border-radius: 25px;
            padding: 10px;
            background-color: #FF275E;
            margin-right: 10px;
        }
    }
}

.products-container>* {
    width: 30%;
    margin-right: 20px;
}


table {
    border-collapse: collapse;
    background-color: #448aff;
    border-radius: 20px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    // text-align: center !important;
    box-shadow: -14px 19px 17px -2px rgba(0, 0, 0, 0.38);
    -webkit-box-shadow: -14px 19px 17px -2px rgba(0, 0, 0, 0.38);
    -moz-box-shadow: -14px 19px 17px -2px rgba(0, 0, 0, 0.38);
}

table td,
th {
    color: white;
    padding: 20px;
}

th {
    font-size: 20px;
}
