<div class="col s7">
    <div class="center">
        <button
            class="btn1"
            (click)="newProduct()"
        >
            <div class="material-icons add">
                add
            </div>  
            <div>
                New Product
            </div>
        </button>
    </div>

    <h1>Product:</h1>

    <table class="responsive-table highlight">
        <thead>
            <tr style="background-color:rgb(56, 79, 229)">
                <th>Product Id</th>
                <th>Name</th>
                <th>Type</th>
                <th>Price</th>
                <th>Category</th>
                <!-- <th>Image</th> -->
                <th>Action</th>
            </tr>
        </thead>
        <tr *ngFor="let prod of productService.products">
            <td>
                {{prod._id}}
            </td>
            <td>
                {{prod.name}}
            </td>
            <td>
                {{prod.type}}
            </td>
            <td>
                ${{prod.price}}
            </td>
            <td>
                {{prod.categoryId}}
            </td>
            <!-- <td>
                {{prod.image}}
            </td> -->
            <td>
                <div class="line">
                    <a class="action-btn">
                        <i
                            class="material-icons"
                            (click)="view(prod)"
                        >
                            search
                        </i>
                    </a>
                    <a class="action-btn">
                        <i
                            class="material-icons"
                            (click)="edit(prod)"
                        >
                            edit
                        </i>
                    </a>
                    <a class="action-btn">
                        <i
                            class="material-icons"
                            (click)="delete(prod)"
                        >
                            delete
                        </i>
                    </a>
                </div>
            </td>
    </table>
    <!-- <div class="center">
        <button
            class="btn1"
            (click)="navigateToHome()"
        >
            Create products
        </button>
    </div> -->
</div>
