<div class="col s7">
    <div class="center">
        <button
            class="btn1"
            (click)="new()"
        >
            <div class="material-icons add">
                add
            </div>
            <div>
                New Category
            </div>
        </button>
    </div>

    <h1>Category:</h1>

    <table class="responsive-table highlight">
        <thead>
            <tr style="background-color:rgb(56, 79, 229)">
                <th>Category Id</th>
                <th>Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tr *ngFor="let category of categoryService.categories">
            <td>
                {{category._id}}
            </td>
            <td>
                {{category.name}}
            </td>
            <td>
                <div class="line">
                    <a class="action-btn">
                        <i
                            class="material-icons"
                            (click)="view(category)"
                        >
                            search
                        </i>
                    </a>
                    <a class="action-btn">
                        <i
                            class="material-icons"
                            (click)="edit(category)"
                        >
                            edit
                        </i>
                    </a>
                    <a class="action-btn">
                        <i
                            class="material-icons"
                            (click)="delete(category)"
                        >
                            delete
                        </i>
                    </a>
                </div>
            </td>
    </table>
</div>
